﻿@model IEnumerable<cStoreMVC.DOMAIN.Models.AuthorModel>

@{
    ViewBag.Title = "GetAuthors";
}

<h2>Authors Listing</h2>

<p>
    @Html.ActionLink("Create New Author", "CreateAuthor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateAuthor", new { id=item.AuthorID }) |
            @Html.ActionLink("Details", "AuthorDetails", new { id=item.AuthorID }) |
            @Html.ActionLink("Delete", "DeleteAuthor", new { id=item.AuthorID })
        </td>
    </tr>
}

</table>
