﻿@model cStoreMVC.UI.Models.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">Contact <strong>Us</strong></h2>
                <div id="gmap" class="contact-map google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.023561985009!2d-94.61137504846033!3d38.96912997945933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0e925e366ed0f%3A0x73aec4617abd2f03!2sCentriq+Training!5e0!3m2!1sen!2sus!4v1468708493385" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="contact-form">
                    <h2 class="title text-center">Get In Touch</h2>
                    <div class="status alert alert-success" style="display: none">
                    </div>
                    <!-- #region Simple HTML Form -->
                    @*<div class="contact-form">
                            <h2 class="title text-center">Get In Touch</h2>
                            <div class="status alert alert-success" style="display: none"></div>
                            <form id="main-contact-form" class="contact-form row" name="contact-form" method="get" action="#" onsubmit="validateForm(event)">
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Name">
                                    <span id="nameVal" class="invalid"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="email" class="form-control" placeholder="Email">
                                    <span id="emailVal" class="invalid"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject">
                                    <span id="subjectVal" class="invalid"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea name="message" id="message" class="form-control" rows="8" placeholder="Your Message Here"></textarea>
                                    <span id="messageVal" class="invalid"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
                                </div>
                            </form>
                        </div>*@
                    <!-- #endregion -->
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Name" })
                            @Html.ValidationMessageFor(x => x.Name)
                        </div>
                        <div class="form-group col-md-6">
                            @Html.TextBoxFor(x => x.Email, new
                           {
                               @class = "form-control",
                               placeholder = "E-Mail",
                               title = "Your email will be kept confidential"
                           })
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                            <div class="form-group col-md-12">
                                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", placeholder = "Subject" })
                                @Html.ValidationMessageFor(x => x.Subject)
                            </div>
                            <div class="form-group col-md-12">
                                @Html.TextAreaFor(x => x.Message, new
                           {
                               @class = "form-control",
                               id = "message",
                               rows = "8",
                               placeholder = "Your Message Here",
                               title = "Be concise but include all important details"
                           })
                                @Html.ValidationMessageFor(x => x.Message)
                            </div>
                            <div class="form-group col-md-12">
                                <input type="submit" name="submit" value="Submit" class="btn btn-primary pull-right" />
                            </div>
                    }

                </div>
            </div>

            <div class="col-sm-4">
                <div class="contact-info">
                    <h2 class="title text-center">Contact Info</h2>
                    <address>
                        <p>Centriq Training cStore</p>
                        <p>8700 Stateline Ave</p>
                        <p>Leawood, KS 66206</p>
                        <p>Phone: 913-322-7000</p>
                        <p>Email: info@centriqcstore.com</p>
                    </address>
                    <div class="social-networks">
                        <h2 class="title text-center">Social Networking</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/CentriqTraining/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/CentriqTraining" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/centriq-foss-training" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.youtube.com/user/CentriqTraining" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#https://plus.google.com/108553092060324883743" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div><!--/#contact-page-->
