﻿@{
    ViewBag.Title = "FAQ";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <h2 class="title text-center">
                    <span>F</span>requently <span>A</span>sked <span>Q</span>uestions
                </h2>
                <div id="accordion">
                    <h3>Refund and Return Policy</h3>
                    <div>
                        <p>
                            If you are not satisfied with your purchase, you may return it for a refund.
                            We will issue a refund to your original form of payment. The refund will be
                            issues within 14 business days.
                        </p>
                    </div>
                    <h3>Who can I contact if I am having problems with my account?</h3>
                    <div>
                        <p>
                            Please visit our <a href="contact.html">contact</a> page for contact information or send us an email.
                        </p>
                    </div>
                    <h3>Where are Centriq cStore headquarters?</h3>
                    <div>
                        <p>
                            Our headquarters is located at 8700 State Line Road, Leawood, KS.
                        </p>
                    </div>
                    <h3>What types of books do you offer?</h3>
                    <div>
                        <p>We offer the following kinds of books:</p>
                        <ul>
                            <li>Hardcover</li>
                            <li>Softcover</li>
                            <li>E-Books</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
<script>
  $( function() {
    $( "#accordion" ).accordion({
        collapsible: true
    });
    $("#accordion").accordion({
        active: false
    })
  } );
</script>

    }
