﻿@{
    ViewBag.Title = "Home Page";
}

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1>The Eye of Minds</h1>
                                <h2>by James Dashner</h2>
                                <p>The author who brought you the #1 New York Times bestselling MAZE RUNNER series brings you the first book in THE MORTALITY DOCTRINE series. </p>
                                <button type="button" class="btn btn-default get" onclick="addToCart(1)">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Images/Books/TheEyeOfMinds.jpg" class="book img-responsive" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1>Harold and the Purple Crayon</h1>
                                <h2>by Crockett Johnson</h2>
                                <p>Armed only with an oversized purple crayon, young Harold draws himself a landscape full of wonder and excitement.</p>
                                <button type="button" class="btn btn-default get" onclick="addToCart(2)" href="">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Images/Books/HaroldPurpleCrayon.jpg" class="book img-responsive" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1>Essential C# 6.0</h1>
                                <h2>by Mark Michaelis &amp; Eric Lippert</h2>
                                <p>A well-organized, no-fluff guide to the latest versions of C# for programmers at all levels of experience.</p>
                                <button type="button" class="btn btn-default get" onclick="addToCart(3)">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/Images/Books/EssentialCsharp6.jpg" class="book img-responsive" />
                            </div>
                        </div>
                    </div>
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">

                <div class="featured_books">
                    <!--featured books-->
                    <h2 class="title text-center">Featured Books</h2>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/Content/Images/Books/TheMazeRunner.jpg" alt="" />
                                    <p>The Maze Runner - $7.65</p>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>$7.65</h2>
                                        <p>The Maze Runner</p>
                                        <a href="#" class="btn btn-default add-to-cart" onclick="addToCart(4); return false;">
                                            <i class="fa fa-shopping-cart"></i>
                                            Add to Cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/Content/Images/Books/Macbeth.jpg" alt="" />
                                    <p>Macbeth - $6.50</p>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>$6.50</h2>
                                        <p>Macbeth</p>
                                        <a href="#" class="btn btn-default add-to-cart" onclick="addToCart(5); return false;">
                                            <i class="fa fa-shopping-cart"></i>
                                            Add to Cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="~/Content/Images/Books/Triumph.jpg" alt="" />
                                    <p>Triumph - $11.45</p>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>$11.45</h2>
                                        <p>Triumph</p>
                                        <a href="#" class="btn btn-default add-to-cart" onclick="addToCart(6); return false;">
                                            <i class="fa fa-shopping-cart"></i>
                                            Add to Cart
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--featured books-->
            </div>
        </div>
    </div>
</section>
