﻿@model IEnumerable<cStoreMVC.DOMAIN.Models.PublisherModel>

@{
    ViewBag.Title = "GetPublishers";
}

<h2>Publisher Listing</h2>

<p>
    @Html.ActionLink("Create New", "CreatePublisher")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PublisherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PublisherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdatePublisher", new { id=item.PublisherID }) |
            @Html.ActionLink("Details", "PublisherDetails", new { id=item.PublisherID }) |
            @Html.ActionLink("Delete", "DeletePublisher", new { id=item.PublisherID })
        </td>
    </tr>
}

</table>
