﻿@model cStoreMVC.DOMAIN.Models.PublisherModel

@{
    ViewBag.Title = "PublisherDetails";
}

<h2>PublisherDetails</h2>

<div>
    <h4>PublisherModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdatePublisher", new { id = Model.PublisherID }) |
    @Html.ActionLink("Back to List", "GetPublisher")
</p>
